.gallery-thumb {
    width: 100%;
}

.topleft-info {
    padding-bottom: 8px;
}

#js-grid-awesome-work img {
    margin-bottom: 0px;
    max-height: 179px;
}

.rounded-img {
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
